{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
    <main role="main" class="container">
        <h3>{{ question.title }}</h3>
        <div>
            <p>{{ question.body|safe }}</p>
        </div>
        {% for t in question.tags %}
            <span>{{ t.tag }}</span>
        {% endfor %}
        <hr>
        <div>
            {% for q in question.answers %}
                <p><a>{{ q.body|safe }}</a></p>
            {% endfor %}
        </div>

    </main>
{% endblock %}